<div id="seccion1" class="container my-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title">Sobre mi</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Para mi el desarrollo web es una oportunidad para superar proyecto
              a proyecto nuevos retos, mi principal objetivo es aprender cada dia mas
              de esta industria y crecer como profesional.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title">Habilidades</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-check mr-2"></i>Angular</li>
              <li class="list-group-item"><i class="fa fa-check mr-2"></i>Django</li>
              <li class="list-group-item"><i class="fa fa-check mr-2"></i>Python</li>
              <li class="list-group-item"><i class="fa fa-check mr-2"></i>HTML y CSS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  